body {
    padding: 0;
    margin: 0;
    font-family: Calibri;
    font-size: 16px;
}


.content-section h1 {
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
}

.content-section {
    padding-bottom: 60px;
}
.content-section h2 {
    visibility: hidden;
}

.img-fluid {
    width: 100%;
    display: block;
}

.mybanner h2 {
    visibility: hidden;
}

.image-box {
    margin-bottom: 50px !important;
}

.image-box a {
    color: #111;
    text-decoration: none;
    text-align: center;
}

.name {
    margin-bottom: 0px;
}

.price {
    margin-top: 5px;
}

.image-box p {
    font-size: 18px;
}


.container {
    max-width: 1180px;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: Calibri;
    font-weight: 500;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 17px;
}

.clear {
    clear: both;
}


* {
    box-sizing: border-box;
}


p {
    line-height: 27px;
}

section {
    overflow: hidden;
}

header {
    position: relative;
    z-index: 10000;
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    padding: 10px 28px;
}

.logo-div {
    width: 20%;
    float: left;
}

.nav-div {
    width: 60%;
    float: left;
    text-align: center;
}

.aside-div {
    width: 20%;
    float: left;
}

.aside-div a {
    text-decoration: none;
}

.aside-div img {
    width: 20px;
    margin-top: 25px;
    margin-left: 20px;
}

header {
    width: 94%;
    margin: auto;
}


header .logo {
    width: 73px;
    top: 7px;
    display: inline-block;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 4px 6px 4px !important;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin: 0px 20px;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 1px solid white;
}


.row {
    margin: 0px 15px;
}





/**/
.mybanner {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: relative;
    top: -80px;
}

.banner-shade {
    padding: 310px 0px 310px 0px;
    text-align: center;
}

.banner-shade-sub {
    padding: 100px 0px 50px 0px !important;
    text-align: center;
}

.custom-select {
    width: 200px;
    height: 30px;
    font-size: 16px;
}

.banner-shade h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.banner-shade p {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.btn-style {
    background: #F44336;
    color: white;
    font-size: 19px;
    text-decoration: none;
    color: white;
    display:inline-block;
    padding:11px 25px;
    border-radius:25px
}

.btn-style:hover{
    opacity:0.9
}



/*Footer*/
footer {
    background: #333;
    padding: 15px;
}

footer p {
    color: white;
    margin: 0;
    padding: 0;
}



/**/
.p-10 {
    width: 10%;
    float: left;
}

.p-20 {
    width: 20%;
    float: left;
}

.p-30 {
    width: 30%;
    float: left;
}

.p-33 {
    width: 33%;
    float: left;
}

.p-40 {
    width: 40%;
    float: left;
}

.p-50 {
    width: 50%;
    float: left;
}

.p-60 {
    width: 60%;
    float: left;
}

.p-70 {
    width: 70%;
    float: left;
}

.p-80 {
    width: 80%;
    float: left;
}

.p-90 {
    width: 90%;
    float: left;
}

.p-100 {
    width: 100%;
    float: left;
}

/**/

@media(max-width:767px) {

    .mybanner {
        top: -100px;
    }

    header .logo {
        width: 45px;
    }

    .banner-shade h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .banner-shade p {
        font-size: 18px;
    }

    .banner-shade {
        padding: 140px 0px;
    }

    nav a {
        font-size: 14px;
        padding: 9px 0px !important;
        margin-bottom: 7px;
    }

    .aside-div img {
        width: 13px;
        margin-top: 10px;
        margin-left: 9px;
    }

    nav {
        padding: 0px !important;
    }

    .p-10 {
        width: 100%;
    }

    .p-20 {
        width: 100%;
    }

    .p-30 {
        width: 100%;
    }

    .p-33 {
        width: 100%;
    }

    .p-40 {
        width: 100%;
    }

    .p-50 {
        width: 100%;
    }

    .p-60 {
        width: 100%;
    }

    .p-70 {
        width: 100%;
    }

    .p-80 {
        width: 100%;
    }

    .p-90 {
        width: 100%;
    }

    .p-100 {
        width: 100%;
    }
}
